<h3>
  Kurze Erklärung zur Verwendung!
</h3>
<p>
  Unter dem Menüpunkt "Manage Person" können Personen verwaltet werden.
  Hierbei gilt es zu beachten das die Anwendung einen Bug enthält.
  Wird eine Person hinzugefügt oder gelöscht muss die Anzahl der gezeigten Elemente in der Tabelle verändert werden. Wird diese nach so einer Operation verändert so wird die Tabelle korrekt aktualisiert.
  Ebenso muss bei erstmaligen Laden die Anzahl der gezeigten Elemente aktualisiert werden.
</p>