<div class="mat-elevation-z8">
  <button mat-icon-button (click)="openNewPersonDialog()">
      <mat-icon aria-label="adds a new person to a list">add</mat-icon>
  </button>
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" focusable="false" (click)=openDialog(row)>
          <mat-icon aria-label="edits a person from the list">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" focusable="false" (click)=deletePerson(row)>
          <mat-icon aria-label="deletes a person from the list">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>firstname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>lastname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lastname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="job">
      <mat-header-cell *matHeaderCellDef mat-sort-header>job</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.job}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef mat-sort-header>salary</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.salary}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>