
    <h2 mat-dialog-title>{{description}}</h2>
    <mat-dialog-content>
        <div class="container">
            <mat-form-field>
                <input matInput placeholder="firstname" [(ngModel)]='person.firstname'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="lastname" [(ngModel)]='person.lastname'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="job" [(ngModel)]='person.job'>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="salary" [(ngModel)]='person.salary'>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button mat-primary" type="submit" (click)="save()">Save</button>
        <button class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>